USE [SOHATS]
GO
/****** Object:  Table [dbo].[cikis]    Script Date: 6.01.2025 15:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cikis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dosyano] [int] NOT NULL,
	[sevktarihi] [nvarchar](10) NOT NULL,
	[cikissaati] [datetime] NULL,
	[odeme] [nvarchar](20) NULL,
	[toplamtutar] [nvarchar](20) NULL,
 CONSTRAINT [PK_cikis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hasta]    Script Date: 6.01.2025 15:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hasta](
	[tckimlikno] [nvarchar](11) NOT NULL,
	[dosyano] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](15) NULL,
	[soyad] [nvarchar](15) NULL,
	[dogumyeri] [nvarchar](15) NULL,
	[dogumtarihi] [datetime] NULL,
	[babaadi] [nvarchar](15) NULL,
	[anneadi] [nvarchar](15) NULL,
	[cinsiyet] [nvarchar](5) NULL,
	[kangrubu] [nvarchar](5) NULL,
	[medenihal] [nvarchar](5) NULL,
	[adres] [nvarchar](255) NULL,
	[tel] [nvarchar](11) NULL,
	[kurumsicilno] [nvarchar](10) NULL,
	[kurumadi] [nvarchar](50) NULL,
	[yakintel] [nvarchar](11) NULL,
	[yakinkurumsicilno] [nvarchar](10) NULL,
	[yakinkurumadi] [nvarchar](50) NULL,
 CONSTRAINT [PK_hasta] PRIMARY KEY CLUSTERED 
(
	[tckimlikno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[islem]    Script Date: 6.01.2025 15:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[islem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[islemAdi] [nvarchar](50) NULL,
	[birimFiyat] [nvarchar](50) NULL,
 CONSTRAINT [PK_islem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 6.01.2025 15:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[kodu] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](20) NULL,
	[soyad] [nvarchar](20) NULL,
	[sifre] [nvarchar](20) NULL,
	[yetki] [nvarchar](5) NULL,
	[evtel] [nvarchar](11) NULL,
	[ceptel] [nvarchar](11) NULL,
	[adres] [nvarchar](255) NULL,
	[unvan] [nvarchar](15) NULL,
	[isebaslama] [datetime] NULL,
	[maas] [nvarchar](20) NULL,
	[dogumyeri] [nvarchar](50) NULL,
	[annead] [nvarchar](20) NULL,
	[babaad] [nvarchar](20) NULL,
	[cinsiyet] [nvarchar](5) NULL,
	[kangrubu] [nvarchar](10) NULL,
	[medenihal] [nvarchar](10) NULL,
	[dogumtarihi] [datetime] NULL,
	[tckimlikno] [nvarchar](11) NULL,
	[username] [nvarchar](50) NULL,
 CONSTRAINT [PK_kullanici] PRIMARY KEY CLUSTERED 
(
	[kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poliklinik]    Script Date: 6.01.2025 15:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poliklinik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[poliklinikadi] [nvarchar](50) NULL,
	[durum] [nvarchar](5) NULL,
	[aciklama] [nvarchar](255) NULL,
 CONSTRAINT [PK_poliklinik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sevk]    Script Date: 6.01.2025 15:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sevk](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sevktarihi] [datetime] NOT NULL,
	[dosyano] [nvarchar](50) NOT NULL,
	[poliklinik] [nvarchar](50) NULL,
	[saat] [nvarchar](10) NULL,
	[yapilanislem] [nvarchar](50) NULL,
	[drkod] [char](10) NULL,
	[miktar] [char](3) NULL,
	[birimfiyat] [nvarchar](20) NULL,
	[sira] [nvarchar](3) NULL,
	[toplamtutar] [nvarchar](50) NULL,
	[taburcu] [nvarchar](50) NULL,
 CONSTRAINT [PK_sevk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cikis] ON 

INSERT [dbo].[cikis] ([id], [dosyano], [sevktarihi], [cikissaati], [odeme], [toplamtutar]) VALUES (1, 1, N'05.01.2024', CAST(N'2024-01-05T00:00:00.000' AS DateTime), N'Nakit', N'30')
INSERT [dbo].[cikis] ([id], [dosyano], [sevktarihi], [cikissaati], [odeme], [toplamtutar]) VALUES (2, 1, N'06.01.2024', CAST(N'2024-01-06T00:00:00.000' AS DateTime), N'Kredi Kartı', N'30')
INSERT [dbo].[cikis] ([id], [dosyano], [sevktarihi], [cikissaati], [odeme], [toplamtutar]) VALUES (3, 2, N'18.02.2024', CAST(N'2024-02-18T14:00:00.000' AS DateTime), N'Nakit', N'20')
SET IDENTITY_INSERT [dbo].[cikis] OFF
GO
SET IDENTITY_INSERT [dbo].[hasta] ON 

INSERT [dbo].[hasta] ([tckimlikno], [dosyano], [ad], [soyad], [dogumyeri], [dogumtarihi], [babaadi], [anneadi], [cinsiyet], [kangrubu], [medenihal], [adres], [tel], [kurumsicilno], [kurumadi], [yakintel], [yakinkurumsicilno], [yakinkurumadi]) VALUES (N'23454321123', 1, N'Hasan', N'Cece', N'XxXxX', CAST(N'1987-12-20T00:13:56.000' AS DateTime), N'Semih', N'Sevde', N'BAY', N'B Rh+', N'EVLİ', N'Kocaeli', NULL, N'111111', NULL, NULL, NULL, NULL)
INSERT [dbo].[hasta] ([tckimlikno], [dosyano], [ad], [soyad], [dogumyeri], [dogumtarihi], [babaadi], [anneadi], [cinsiyet], [kangrubu], [medenihal], [adres], [tel], [kurumsicilno], [kurumadi], [yakintel], [yakinkurumsicilno], [yakinkurumadi]) VALUES (N'56798421456', 1001, N'Ayşe', N'Kaya', N'İstanbul', CAST(N'2024-12-22T00:00:00.000' AS DateTime), N'Selim', N'Arife', N'BAYAN', N'A Rh+', N'BEKAR', N'İstanbul/Beykoz', N'05513467989', N'7895359898', N'MEB', N'05478978463', N'7985312457', N'GDZ')
INSERT [dbo].[hasta] ([tckimlikno], [dosyano], [ad], [soyad], [dogumyeri], [dogumtarihi], [babaadi], [anneadi], [cinsiyet], [kangrubu], [medenihal], [adres], [tel], [kurumsicilno], [kurumadi], [yakintel], [yakinkurumsicilno], [yakinkurumadi]) VALUES (N'74185296341', 3, N'Erdal', N'Kısa', N'Türkiye', CAST(N'2003-12-23T04:57:00.000' AS DateTime), N'Hakan', N'Seda', N'BAYAN', N'B Rh-', N'BEKAR', N'Balıkesir', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[hasta] OFF
GO
SET IDENTITY_INSERT [dbo].[islem] ON 

INSERT [dbo].[islem] ([id], [islemAdi], [birimFiyat]) VALUES (1, N'a tahlil', N'15')
INSERT [dbo].[islem] ([id], [islemAdi], [birimFiyat]) VALUES (2, N'b tahlil', N'30')
INSERT [dbo].[islem] ([id], [islemAdi], [birimFiyat]) VALUES (3, N'c tahlil', N'60')
SET IDENTITY_INSERT [dbo].[islem] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanici] ON 

INSERT [dbo].[kullanici] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [unvan], [isebaslama], [maas], [dogumyeri], [annead], [babaad], [cinsiyet], [kangrubu], [medenihal], [dogumtarihi], [tckimlikno], [username]) VALUES (1, N'ALİ', N'KAYA', N'212121', N'True', N'2415623', N'0535652547', N'asflsdkgm dkmdlgs', N'Doktor', CAST(N'2005-11-27T00:00:00.000' AS DateTime), N'1500', N'ERZURUM', N'HATICE', N'HAMZA', N'BAY', N'A Rh+', N'BEKAR', CAST(N'1965-12-23T00:00:00.000' AS DateTime), N'21548732655', N'k1')
INSERT [dbo].[kullanici] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [unvan], [isebaslama], [maas], [dogumyeri], [annead], [babaad], [cinsiyet], [kangrubu], [medenihal], [dogumtarihi], [tckimlikno], [username]) VALUES (2, N'Hakkı', N'Kaya', N'123', N'false', N'22222222222', N'dfldlf', N'AAAAAA', N'Sağlık Personel', CAST(N'1999-09-09T00:00:00.000' AS DateTime), N'', N'DENIZLI', N'AYSUN', N'MEHMET', N'BAYAN', N'A Rh-', N'BEKAR', CAST(N'1970-05-09T00:00:00.000' AS DateTime), N'212121', N'k2')
INSERT [dbo].[kullanici] ([kodu], [ad], [soyad], [sifre], [yetki], [evtel], [ceptel], [adres], [unvan], [isebaslama], [maas], [dogumyeri], [annead], [babaad], [cinsiyet], [kangrubu], [medenihal], [dogumtarihi], [tckimlikno], [username]) VALUES (3, N'Adem', N'Uluz', N'456', N'False', NULL, NULL, NULL, N'Sağlık Personel', CAST(N'1995-07-12T00:00:00.000' AS DateTime), NULL, NULL, N'Sevim', N'Mustafa', NULL, NULL, NULL, CAST(N'1980-12-12T00:00:00.000' AS DateTime), NULL, N'k3')
SET IDENTITY_INSERT [dbo].[kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[poliklinik] ON 

INSERT [dbo].[poliklinik] ([id], [poliklinikadi], [durum], [aciklama]) VALUES (2, N'Poliklinik 2', N'True', N'Falan Filan Poliklinik')
INSERT [dbo].[poliklinik] ([id], [poliklinikadi], [durum], [aciklama]) VALUES (3, N'Poliklinik 3', N'true', NULL)
INSERT [dbo].[poliklinik] ([id], [poliklinikadi], [durum], [aciklama]) VALUES (4, N'Poliklinik 4', N'false', NULL)
SET IDENTITY_INSERT [dbo].[poliklinik] OFF
GO
SET IDENTITY_INSERT [dbo].[sevk] ON 

INSERT [dbo].[sevk] ([id], [sevktarihi], [dosyano], [poliklinik], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [sira], [toplamtutar], [taburcu]) VALUES (1, CAST(N'2024-01-05T00:00:00.000' AS DateTime), N'1', N'Poliklinik 2', N'11:11', N'a tahlili', N'1         ', N'1  ', N'5', N'1', N'1', N'True')
INSERT [dbo].[sevk] ([id], [sevktarihi], [dosyano], [poliklinik], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [sira], [toplamtutar], [taburcu]) VALUES (2, CAST(N'2024-01-05T00:00:00.000' AS DateTime), N'1', N'Poliklinik 3', N'10:40', N'b talili', N'1         ', N'1  ', N'10', N'1', N'10', N'True')
INSERT [dbo].[sevk] ([id], [sevktarihi], [dosyano], [poliklinik], [saat], [yapilanislem], [drkod], [miktar], [birimfiyat], [sira], [toplamtutar], [taburcu]) VALUES (3, CAST(N'2024-01-06T00:00:00.000' AS DateTime), N'1', N'Poliklinik 4', N'10:10', N'a tahlili', N'6         ', N'1  ', N'5', N'1', N'5', N'True')
SET IDENTITY_INSERT [dbo].[sevk] OFF
GO
